div.demonstracao{
    display: flex;
    border: 2px solid #666666;
    border-radius: 5px;
    padding: 2rem;
    flex-wrap: wrap;
    width: 27rem;
    min-height: 11rem;
}

div.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    border: 2px solid #666666;
    border-radius: 5px;
}

.amostra {
    display: flex;
    max-width:100vw;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

span {
    font-weight: 900;
}